# Hardhat files
cache
artifacts
.env

# Dependencies
node_modules

# Build files
dist
build

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# AI
.claude
.crush
.cursor

frontend/node_modules
claude
*/.next